.myContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; /* Khoảng cách giữa các grid item */
  /* Màu nền của grid container */
}

.myItem {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff; /* Màu nền của grid item */
  transition: box-shadow 0.3s ease; /* Thêm transition cho hiệu ứng smooth */
}

.myItem:hover {
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.726); /* Điều chỉnh box-shadow khi hover */
}

.myItem img {
  width: 100%; /* Đảm bảo ảnh lấp đầy grid item */
}
.myContainer-h3{
  color: #ff0000;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #ff0000;
}
